<h1 class="admin-header">Admin Dashboard</h1>


<h2 class="admin-post-header">Posts: </h2>
<div class="admin-post-container">
    {{#each posts}}
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
        <form action="/admin/posts/{{this._id}}?_method=DELETE" method="post">
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
        <hr>
    {{/each}}
</div>
