<div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			  <div id="sign-up-page">
			      <div class="myform form ">
                        <div class="logo mb-3">
                           <div class="col-md-12 text-center">
                              <h1>Sign Up</h1>
                           </div>
                        </div>
                        <form action="/signup" method="post" name="signup">
                           <div class="form-group">
                              <label for="exampleInputEmail1">Username</label>
                              <input type="text"  name="username" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder='"RandomUser123"'>
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Email</label>
                              <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder='"Me@Me.com"'>
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Password</label>
                              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder='"Password1234"'>
                           </div>
                           <div class="col-md-12 text-center mb-3">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started For Free</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="form-group">
                                 <p class="text-center"><a href="/login" id="signin">Already have an account?</a></p>
                              </div>
                           </div>
                            </div>
                        </form>
                     </div>
			</div>
		</div>
      </div>
